/***********
 * GENERAL *
 ***********/

body {
	background-color: #E1E8ED;
	color: #292F33;
}

/*************
 * TITLE BAR *
 *************/

#minimize-btn {
    color: #292F33;
}

    #minimize-btn:hover {
        color: #E81C4F;
    }

#close-btn {
	color: #292F33;
}

    #close-btn:hover {
        color: #E81C4F;
    }


/********
 * MAIN *
 ********/

ul.tabs li {
	background-color: #E1E8ED;
}

    ul.tabs li:hover {
        background-color: #D0D2D4;
    }

    ul.tabs li.current {
        background: #F5F8FA;
    }

.tab-content {
	background: #FFF;
	border: solid 4px #F5F8FA;
}

.loading {
}

    .loading.icon {
        background: url(../../icons/loadingBlack.svg);
        background-repeat: no-repeat;
        background-size: 50px;
    }

/*********
 * PROXY *
 *********/

#startproxy {
	background: #F5F8FA;
}

    #startproxy:hover {
        background: #D0D2D4;
    }

/********
 * LOGS *
 ********/

.log-contents {
    background-color: #F5F8FA;
    color: #292F33;
}

#clear-logs {
    color: #292F33;
}

    #clear-logs:hover {
        color: #E81C4F;
    }

/***********
 * MODULES *
 ***********/

ul.ModulesList li {
    background-color: #F5F8FA;
}

#modInfo li {
    background-color: #282A2d;
}

.moduleHeader {
    border-color: #FFF;
    background-color: #F5F8FA;
}

    .moduleHeader:hover {
        background-color: #E1E8ED;
    }

    .moduleHeader.active {
        background-color: #D0D2D4;
    }

        .moduleHeader.active:hover {
            background-color: #D0D2D4;
        }

.moduleBody {

}

    .moduleBody.buttons {

    }

        .moduleBody.buttons.donate {
            background: url(../../icons/donateBlack.png);
            background-repeat: no-repeat;
            background-size: 28px;
        }

            .moduleBody.buttons.donate:hover {
                background-size: 30px;
            }

        .moduleBody.buttons.info {
            background: url(../../icons/infoBlack.svg);
            background-repeat: no-repeat;
            background-size: 25px;
        }

            .moduleBody.buttons.info:hover {
                background-size: 27px;
            }

        .moduleBody.buttons.uninstall {
            background: url(../../icons/deleteBlack.png);
            background-repeat: no-repeat;
            background-size: 28px;
        }

            .moduleBody.buttons.uninstall:hover {
                background-size: 30px;
            }

        .moduleBody.buttons.updateEnabled {
            background: url(../../icons/updateEnabledBlack.svg);
            background-repeat: no-repeat;
            background-size: 26px;
        }

            .moduleBody.buttons.updateEnabled:hover {
                background-size: 28px;
            }

        .moduleBody.buttons.updateDisabled {
            background: url(../../icons/updateDisabledBlack.svg);
            background-repeat: no-repeat;
            background-size: 26px;
        }

            .moduleBody.buttons.updateDisabled:hover {
                background-size: 28px;
            }

        .moduleBody.buttons.loadEnabled {
            background: url(../../icons/loadEnabledBlack.svg);
            background-repeat: no-repeat;
            background-size: 24px;
            margin-top: 2px;
        }

            .moduleBody.buttons.loadEnabled:hover {
                background-size: 26px;
            }

        .moduleBody.buttons.loadDisabled {
            background: url(../../icons/loadDisabledBlack.svg);
            background-repeat: no-repeat;
            background-size: 24px;
            margin-top: 2px;
        }

            .moduleBody.buttons.loadDisabled:hover {
                background-size: 26px;
            }

/***********************
 * INSTALLABLE MODULES *
 ***********************/

        .installableModulesFilters > label > input[type=text] {
            color: #292F33;
            border-color: #D0D2D4;
            background-color: #F5F8FA;
        }

.installableModuleHeader {
    border-color: #FFF;
    background-color: #F5F8FA;
}

    .installableModuleHeader:hover {
        background-color: #E1E8ED;
    }

.installableModuleBody {

}

    .installableModuleBody.buttons {

    }

        .installableModuleBody.buttons.install {
            background: url(../../icons/installBlack.svg);
            background-repeat: no-repeat;
            background-size: 28px;
        }

            .installableModuleBody.buttons.install:hover {
                background-size: 30px;
            }

/*************
 * SCROLLBAR *
 *************/
::-webkit-scrollbar-track {
	background: #F5F8FA;
}

::-webkit-scrollbar-thumb {
	background: #D0D2D4;
}

/**********
 * CONFIG *
 **********/

#settings > div {
    background-color: #F5F8FA;
}

/***********
 * CREDITS *
 ***********/


/*************
 * MODAL BOX *
 *************/
.modalbox {
    background-color: rgba(0, 0, 0, 0.4);
}

.modalbox-content {
    background-color: #F5F8FA;
    border-color: #888;
}

.modalbox-button {
    background-color: #D0D2D4;
    color: white;
    border-color: #F5F8FA;
    -webkit-transition-duration: 0.4s;
    transition-duration: 0.4s;
}

    .modalbox-button:hover {
        border-color: #D0D2D4;
    }
