:root {
    --main-font-color: black;
    --main-background: #f8f9f9;
    --border-color: black;
    --selection-color: #adadad;
    --scrollbar-track-color: darkgray;
    --scrollbar-thumb-color: gray;
    --scrollbar-thumb-hover-color: #747f8d;
    --header-background-color: #e3e5e8;
    --header-button-hover-color: #747f8d;
    --main-control-background-color: #e3e5e8;
    --main-control-start-button-background-color: #4f5660;
    --main-control-start-button-hover-color: #424850;
    --main-control-select-background-color: #747f8d;
    --main-control-hover-background-color: #424850;
    --log-background: #ebedef;
    --log-text-color: #000;
    --log-text-warn-color: rgb(255, 156, 0);
    --log-text-error-color: rgb(255, 0, 0);
    --modal-box-background-color: rgba(0,0,0,0.6);
    --modal-box-content-background-color: #c7ccd1;
    --settings-background-color: #b7bcc3;
    --mod-card-background-color: #b7bcc3;
    --mod-card-info-font-color: #23272A;
    --mod-card-disabled-border-color: #ff5050;
    --float-element-text-color: #ff5050;
    --float-element-hover-background-color: #b7bcc3;
}