/***********
 * GENERAL *
 ***********/

html {
    box-sizing: border-box;
    height: 100%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

body {
    -webkit-app-region: drag;
    user-select: none;
    font-family: Arial, Helvetica Neue, Helvetica, sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    min-height: 100%;
    overflow: hidden;
    display: flex;
}

.nodrag {
    -webkit-app-region: no-drag;
}

/*************
 * TITLE BAR *
 *************/

#title-bar {
    position: fixed;
    height: 32px;
    top: 0px;
    left: 0px;
    right: 0px
}

#title {
    position: fixed;
    left: 32px;
    line-height: 32px
}

#title-status {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    line-height: 32px;
    font-size: 12px;
    text-align: center;
}

#title-icon {
    position: fixed;
    margin: 4px;
    width: 24px;
    height: 24px
}

#minimize-btn {
    font-size: 20px;
    position: fixed;
    top: 0px;
    right: 20px;
    height: 32px;
    width: 32px;
    border: none;
    background-color: transparent;
}

    #minimize-btn:focus {
        outline: 0;
    }

#close-btn {
    font-size: 20px;
    position: fixed;
    top: 0px;
    right: 0px;
    height: 32px;
    width: 32px;
    border: none;
    background-color: transparent;
}

    #close-btn:focus {
        outline: 0;
    }

/********
 * MAIN *
 ********/

.container {
    margin: 32px 8px 8px 8px
}

ul.tabs {
    margin-left: 16px;
    margin-right: 16px
}

    ul.tabs li {
        display: inline-block;
        padding: 8px 16px;
        border-radius: 8px 8px 0 0;
        cursor: pointer;
        user-select: none
    }

.tab-content {
    display: none;
    padding: 8px;
    border-radius: 8px;
    /* todo? edit width&height */
    width: 1200px;
    height: 600px;
    overflow-y: auto;
}

    .tab-content.current {
        display: inherit
    }

.loading {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .loading.icon {
        width: 50px;
        height: 50px;
        border: none;
        margin-top: 250px;
    }

    .loading.text {
        font-size: 28px;
        line-height: 50px;
        margin-top: 250px;
    }

/*********
 * PROXY *
 *********/

#startproxy {
    cursor: pointer;
    user-select: none;
    border-radius: 8px 8px 0 0;
    padding: 8px 16px;
    float: right;
    text-align: center;
    width: 180px
}

/********
 * LOGS *
 ********/

#log {
    overflow-y: hidden;
}

#clear-logs {
    z-index: 999999;
    font-size: 20px;
    position: fixed;
    top: 72px;
    right: 30px;
    /* todo: add 24px with scrollbar*/
    height: 32px;
    width: 32px;
    border: none;
    background-color: transparent;
}

    #clear-logs:focus {
        outline: 0;
    }

.log-contents {
    word-break: break-all;
    position: relative;
    z-index: 99999;
    height: 575px;
    width: 100%;
    overflow: scroll;
    overflow-x: hidden;
    font-family: Consolas, monaco, monospace;
    user-select: all;
    resize: none;
}

/***********
 * MODULES *
 ***********/

#modInfo li {
    display: block;
}

.moduleHeader {
    border: 1px solid;
    width: 100%;
    display: block;
    cursor: pointer;
    overflow: hidden;
    border-radius: 7px;
    margin-top: 2px;
}

    .moduleHeader.name {
        background: inherit;
        width: 70%;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        float: left;
        border: none;
        padding-left: 5px;
    }

        .moduleHeader.name:hover {
            background: inherit;
        }

    .moduleHeader.author {
        background: inherit;
        width: 30%;
        text-align: right;
        float: right;
        border: none;
        padding-right: 5px;
    }

        .moduleHeader.author:hover {
            background: inherit;
        }

.moduleBody {
    display: none;
}

    .moduleBody.description {
        display: inherit;
        text-align: left;
        border: inherit;
        padding-left: 5px;
        padding-right: 50px;
        float: left;
        overflow: auto;
        width: calc(100% - 100px);
    }

    .moduleBody.buttons {
        display: inherit;
        text-align: right;
        float: right;
        border: inherit;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        margin-right: 5px;
        vertical-align: middle;
    }

        .moduleBody.buttons.donate {
            width: 28px;
            height: 28px;
            border: none;
        }

        .moduleBody.buttons.info {
            width: 28px;
            height: 28px;
            border: none;
            margin-top: 2px;
        }

        .moduleBody.buttons.uninstall {
            width: 28px;
            height: 28px;
            border: none;
            margin-left: 10px;
        }

        .moduleBody.buttons.loadEnabled {
            width: 28px;
            height: 28px;
            border: none;
        }

        .moduleBody.buttons.loadDisabled {
            width: 28px;
            height: 28px;
            border: none;
        }

        .moduleBody.buttons.updateEnabled {
            width: 28px;
            height: 28px;
            border: none;
            margin-left: 10px;
        }

        .moduleBody.buttons.updateDisabled {
            width: 28px;
            height: 28px;
            border: none;
            margin-left: 10px;
        }

/***********************
 * INSTALLABLE MODULES *
 ***********************/
.installableModulesFilters {
    width: 100%;
    margin-bottom: 5px;
    text-align: center;
    vertical-align: middle;
}

    .installableModulesFilters > label {
        padding-right: 20px;
    }

    .installableModulesFilters > label > input[type=checkbox] {
        position: relative;
        top: 2px;
        margin-right: 3px;
    }

    .installableModulesFilters > label > input[type=text] {
        border: 1px solid;
        border-radius: 3px;
        padding: 2px;
    }

.installableModulesList {
    display: block;
}

.installableModuleHeader {
    border: 1px solid;
    width: 100%;
    display: block;
    overflow: hidden;
    border-radius: 7px;
    margin-top: 2px;
}

    .installableModuleHeader.name {
        background: inherit;
        width: 70%;
        text-align: left;
        font-size: 16px;
        font-weight: bold;
        float: left;
        border: none;
        padding-left: 5px;
    }

    .installableModuleHeader.author {
        background: inherit;
        width: 30%;
        text-align: right;
        float: right;
        border: none;
        padding-right: 5px;
    }

.installableModuleBody {
    display: block;
}

    .installableModuleBody.description {
        display: inherit;
        text-align: left;
        border: inherit;
        padding-left: 5px;
        padding-right: 50px;
        float: left;
        overflow: auto;
        width: calc(100% - 100px);
    }

    .installableModuleBody.buttons {
        display: inherit;
        text-align: right;
        float: right;
        border: inherit;
        padding-right: 5px;
        padding-top: 5px;
        padding-bottom: 5px;
        vertical-align: middle;
    }

        .installableModuleBody.buttons.install {
            width: 28px;
            height: 28px;
            border: none;
        }


/*************
 * SCROLLBAR *
 *************/

::-webkit-scrollbar {
    width: 8px
}

::-webkit-scrollbar-track {
    border-radius: 4px
}

::-webkit-scrollbar-thumb {
    border-radius: 4px
}

/**********
 * CONFIG *
 **********/

#settings {
    padding-top: 110px;
}

#settings > div {
    padding: 4px 8px;
    margin: 4px 340px 4px 340px;
    border-radius: 4px;
}

    #settings > div > a {
        cursor: default;
        user-select: none;
        width: 350px;
        display: inline-block;
        text-align: left;
        margin-right: 8px;
        font-size: 20px;
    }

.theme {
    cursor: pointer;
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    margin-right: 4px;
    margin-bottom: -6px;
}

    .theme.black {
        background-color: #292F33
    }

    .theme.white {
        background-color: #E1E8ED
    }

    .theme.pink {
        background-color: #F0438C
    }

/***********
 * CREDITS *
 ***********/

.credits {
    display: flex;
    align-items: center;
    justify-content: center;
}

    .credits.text {
        font-size: 28px;
        line-height: 50px;
        margin-top: 150px;
        text-align: center;
    }

/*************
 * MODAL BOX *
 *************/
.modalbox {
    display: none;
    position: fixed;
    z-index: 1;
    padding-top: 20%;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    text-align: center;
}

.modalbox-content {
    background-color: #393c40;
    margin: auto;
    padding: 20px;
    border: 1px solid;
    width: 40%;
    height: 50%;
}

.modalbox-text {
    font-size: 20px;
}

.modalbox-button {
    padding: 5px;
    padding-left: 4px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 40px;
    cursor: pointer;
    border: 3px solid;
    border-radius: 7px;
    height: 35px;
    width: 60px;
}
