@import url("./ubuntu-regular.css");

body {
	margin: 0px;
	background: #1d2125;
	font-family: Ubuntu, sans serif;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
}

.ui {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
}

.ui>img {
	height: 200px;
	width: 200px;
}

.ui>div {
	color: darkgray;
	font-size: 13px;
}

.snowflake {
	position: fixed;
	background-color: #CCC;
	user-select: none;
	z-index: 1000;
	pointer-events: none;
	border-radius: 50%;
	width: 10px;
	height: 10px;
  }